-
    let myClassPart = "specialFeaturesP2Series specialFeaturesP4Series02"
    let myClassFooter = "specialFeaturesP4Series03"
    let myClass = "specialFeatures122021"
    let localPath = "./../../_images/p4/"
    //- let localPath = "[uploads_path]/2021/12/"
    let metaTitle = "Special Features P3"
//-  colors
-   let silverLakeBlue = "color-silverLakeBlue"; // #5785B7 lakeblue
-   let burlywood = "color-burlywood"; // #DFBA79 lightbrown
-   let independence = "color-independence"; // #4F576C darkgray
-   let operaMauve = "color-operaMauve"; // #BC7DAA pink
-   let grenSheen = "color-grenSheen"; // #6CAB9C green
-   let elecBrown = "color-elecBrown"; // #B46253
-   let roseDust = "color-roseDust"; // #9D5F72

//- part 3
-   let grullo = "color-grullo"; // #ADA679
-   let pewterBlue = "color-pewterBlue"; // #7EADB1
-   let newYorkPink = "color-newYorkPink"; // #DB8172
-   let metallicSilver = "color-metallicSilver"; // #9DACAC

//- part 4
-   let glaucous = "color-glaucous"; // #667FAA
-   let antiqueBrass = "color-antiqueBrass"; // #C79670
-   let tan = "color-tan"; // #D3B187
-   let coolGrey = "color-coolGrey"; // #8699B4

-
 let profile = [
   {
        no: "上場準備室 兼 サステナビリティ委員会",
        //- labelText: "",
        description: "株式上場を目指し体制を整えるべく、上場準備室が発足。また サステナビリティ推進のため、取締役会の諮問機関としてサステナビリティ委員会も設けられた。",
        class: "color-tan",
        bubleKarit: "karitLeft color-tan",
        bubbleContent: "僕らの企業活動自体が、<br>実はサステナブル<br>なんです！",
        body: "XY 執行役員<br>上場準備室 兼<br>サステナビリティ委員会",
        profName: "稲月 伸仁",
        img: "article121021_prof_kv-10.jpg",
        questContent: [
            {
                qNo: "Q1.",
                title: "なぜ、上場準備室が設立されたんですか？",
                body: "上場に向けたさまざまな準備や、証券会社・東証との協議を担うために設立されました。端的に言えば<span class='specialFeatures122021__questItemContentTextBold'>「“上場企業としてふさわしい企業”だと、証券会社と東証に理解・納得してもらう」ことがミッション</span>かな。上場とは、不特定多数の人に株主となって我々のビジネスを資金面で応援してもらうこと。多くの人が安心して投資できるよう、情報開示や体制など全包囲網的に整える必要があるんです。",
            },
            {
                qNo: "Q2.",
                title: "上場準備のなかで、<br>いま見えてきた課題は？",
                body: "①月次決算体制の整備、②予算管理の立ち上げ、③内部監査体制の拡充、です。この中でいま一番の課題は、<span class='specialFeatures122021__questItemContentTextBold'>月次決算体制づくり。</span>いままで、うちは半期・通期決算だけだったけど、上場後は<span class='specialFeatures122021__questItemContentTextBold'>四半期ごとに決算を公表しなければならない</span>上、予定外の大型商談が発生したら、<span class='specialFeatures122021__questItemContentTextBold'>都度情報を開示し、業績予測の修正報告をしないといけない。</span>そのためにも、月次での定点観測が不可欠なんです。なので、グループ全体の決算に関するスピード感を大きく変える必要があるんだよね。",
            },
            {
                qNo: "Q3.",
                title: "サステナビリティ委員会が<br>設立された理由は？",
                body: "ここ数年、<span class='specialFeatures122021__questItemContentTextBold'>欧米外資系の顧客を中心に、XYグループのサステナビリティへの取り組み方針・実例への問い合わせが急増。</span>組織として早急に対応する必要性が高まり、推進室が設立されました。<span class='specialFeatures122021__questItemContentTextBold'>いままで体系立ててこれなかったXYのサステナビリティに関する取り組みをまとめ、</span>対外的に発信できるよう、まずは体制構築に尽力しています。",
            },
            {
                qNo: "Q4.",
                title: "サステナビリティ推進を促すため、<br>まず何が大事になりますか？",
                body: "まず重要なことは<span class='specialFeatures122021__questItemContentTextBold'>「XYグループとして、どこに注力するか」サステナビリティの基本方針を定める</span>こと。実は、すでに<span class='specialFeatures122021__questItemContentTextBold'>「私たちの活動自体が、社会課題を解決している＝サステナブルな社会を目指す取り組み」</span>とも言えて。例えば、社会インフラでもある不動産の利用価値の維持・向上に尽力しているPBMや、より柔軟な働く場の選択肢を提供することで、人々の生産性向上に貢献しているZXYなどもそう。<span class='specialFeatures122021__questItemContentTextBold'>「ビジネスをやればやるほど、社会にとっても良い」という企業モデルはそうそうない。</span>私たちは<span class='specialFeatures122021__questItemContentTextBold'>自然に実践できている</span>んです。なので、我々の経営ビジョンを反映をさせながら<span class='specialFeatures122021__questItemContentTextBold'>「サステナビリティへの考え方を“再整理”している」</span>といった方がいいかも知れないですね。",
            },
        ],
        qoute: "Web版限定記事へ",
     },
 ]

doctype html
html(lang="en")
    include ../_inc/_head.pug
    body
        .secSingle(class=`${myClass}`)
            .secSingle__content(class=`${myClassPart}`)
                article.specialFeatures122021__wrapper
                    |
                    |
                    .specialFeatures122021__inner: each prof in profile
                        .specialFeatures122021__innerBorder(class=prof.class)
                            .specialFeatures122021__prof
                                .specialFeatures122021__profLabel
                                    p.specialFeatures122021__profLabelNo=prof.no
                                    span.specialFeatures122021__profLabelText!=prof.labelText
                                p.specialFeatures122021__profDesc!=prof.description
                                .specialFeatures122021__profFlex
                                    .specialFeatures122021__profContent
                                        .specialFeatures122021__profContentBuble(class=prof.bubleKarit)
                                            p.specialFeatures122021__profContentBubleData!=prof.bubbleContent
                                        .u-spDb
                                            figure.specialFeatures122021__profKv
                                                img.specialFeatures122021__profKvImg(src=`${localPath}${prof.img}`)
                                        .specialFeatures122021__profContentBox
                                            p.specialFeatures122021__profContentText!=prof.body
                                            .specialFeatures122021__profContentName
                                                p.specialFeatures122021__profContentNameText=prof.profName
                                                    span.specialFeatures122021__profContentNameExt さん
                                    .u-pcDb
                                        figure.specialFeatures122021__profKv
                                            img.specialFeatures122021__profKvImg(src=`${localPath}${prof.img}`)
                            .specialFeatures122021__quest: each item in prof.questContent
                                .specialFeatures122021__questItem
                                    .specialFeatures122021__questItemHeader
                                        p.specialFeatures122021__questItemHeaderNo=item.qNo
                                        h2.specialFeatures122021__questItemHeaderText!=item.title
                                    .specialFeatures122021__questItemContent
                                        p.specialFeatures122021__questItemContentText!=item.body
                            |
                            |
                            if(prof.qoute)
                                .specialFeatures122021__qoute
                                    .specialFeatures122021__qouteText=prof.qoute

                    .specialFeatures122021__closing
                        .specialFeatures122021__closingHeader
                            figure.specialFeatures122021__closingHeaderKv
                                img.specialFeatures122021__closingHeaderImg(src=`${localPath}article121021_footer_kv.png`, alt="")
                        ul.specialFeatures122021__closingList
                            li.specialFeatures122021__closingListText
                                | 稲月伸仁さんは料理がお得意で、晩酌のおつまみはもちろん、お子さんから大好評のミラノ風カツレツまでササっと作れてしまいます。最近はお子さんがバイトで忙しく、YouTubeをお供に飲むこともあるとか。上場の暁には稲月さんの手料理で乾杯しましょう！（XY 経理財務部　杉山昭博・熊谷朱理）
                |
                |
                .specialFeatures122021__footer(class=myClassFooter)
                    .specialFeatures122021__next.karitLeft(class=`${antiqueBrass}`)
                        p.specialFeatures122021__nextText NEXT
                        a.specialFeatures122021__nextItem(href="./2")
                            span.specialFeatures122021__nextItemLabel.label32 ジザイめっけ
                            //- p.specialFeatures122021__nextItemTitle.title24 MR/トラスト

                    .specialFeatures122021__next.listPage
                        a.specialFeatures122021__nextItem(href="")
                            span.specialFeatures122021__nextItemLabel.label17 登場事業一覧ページへ