-
    let myClassPart = "specialFeaturesP2Series specialFeaturesP4Series05"
    let myClassFooter = "specialFeaturesP4Series05"
    let myClass = "specialFeatures122021"
    let localPath = "./../../_images/p4/"
    //- let localPath = "[uploads_path]/2021/12/"
    let metaTitle = "Special Features P3"
    let linkArt = "/article/"

//-  colors
-   let silverLakeBlue = "color-silverLakeBlue"; // #5785B7 lakeblue
-   let burlywood = "color-burlywood"; // #DFBA79 lightbrown
-   let independence = "color-independence"; // #4F576C darkgray
-   let operaMauve = "color-operaMauve"; // #BC7DAA pink
-   let grenSheen = "color-grenSheen"; // #6CAB9C green
-   let elecBrown = "color-elecBrown"; // #B46253
-   let roseDust = "color-roseDust"; // #9D5F72

//- part 3
-   let grullo = "color-grullo"; // #ADA679
-   let pewterBlue = "color-pewterBlue"; // #7EADB1
-   let newYorkPink = "color-newYorkPink"; // #DB8172
-   let metallicSilver = "color-metallicSilver"; // #9DACAC

//- part 4
-   let glaucous = "color-glaucous"; // #667FAA
-   let antiqueBrass = "color-antiqueBrass"; // #C79670
-   let tan = "color-tan"; // #D3B187
-   let coolGrey = "color-coolGrey"; // #8699B4

-
 let chart = [
   {
       main: "登場事業一覧",
       group1: [
           {
               class: "color-operaMauve",
               label: "第1の皿",
               title: "東海",
               kv: "article121021_prof_sm-01.png",
               content: "XYTK 代表取締役社長<br>XY 専務執行役員<br>商業不動産サポート事業部<br>担当",
               name: "東浦 定宏"
           },
           {
               class: "color-elecBrown",
               label: "第1の皿",
               title: "PBM/工事/FM/<br class='u-pcDb'>警備/清掃",
               kv: "article121021_prof_sm-11.png",
               content: "XY 執行役員<br>不動産マネジメント部<br>業務推進部<br>担当",
               name: "吉田 源弘"
           },
           {
               class: "color-roseDust",
               label: "第1の皿",
               title: "関西",
               kv: "article121021_prof_sm-12.png",
               content: "XYK 代表取締役社長",
               name: "吉田 正"
           },
       ],
       group2: [
           {
               class: "color-grullo",
               label: "第2の皿",
               title: "XI",
               kv: "article121021_prof_sm-02.png",
               content: "XI 取締役",
               name: "山口 嘉昭"
           },
           {
               class: "color-pewterBlue",
               label: "第2の皿",
               title: "商業",
               kv: "article121021_prof_sm-03.png",
               content: "XY 商業不動産<br>サポート事業部<br>営業企画部長",
               name: "藤原 真"
           },
           {
               class: "color-newYorkPink",
               label: "第2の皿",
               title: "ZXY/N推",
               kv: "article121021_prof_sm-04.png",
               content: "XY 執行役員<br>ジザイワーク事業部<br>担当",
               name: "長田 健登"
           },
       ],
       group3: [
           {
               class: "color-metallicSilver",
               label: "第2の皿",
               title: "企活",
               kv: "article121021_prof_sm-05.png",
               content: "XY 常務執行役員<br>企業不動産活用事業部<br>担当",
               name: "守谷 尚子"
           },
           {
               class: "color-metallicSilver",
               label: "ホテル",
               title: "ホテル/リネン/客室清掃",
               kv: "article121021_prof_sm-06.png",
               content: "XY 常務執行役員<br>からくさホテルズ 代表取締役社長<br>ザイマックスカレス 取締役",
               name: "佐藤 亮祐"
           },
       ],
       group4: [
           {
                class: "color-antiqueBrass",
                title: "MR/トラスト",
                twin: [
                    {
                        label: "資活",
                        kv: "article121021_prof_sm-08.png",
                        content: "トラスト<br>代表取締役社長",
                        name: "大山 泉之",
                    },
                    {
                        label: "資活",
                        kv: "article121021_prof_sm-07.png",
                        content: "MR 取締役 執行役員副社長<br>トラスト 取締役",
                        name: "吉村 竜一",
                    },
                ]
           },
           {
               class: "color-tan",
               labelGroup: [
                   {item: "上場準備室 兼"},
                   {item: "サステナビリティ委員会"},
               ],
               kv: "article121021_prof_sm-09.png",
               content: "XY 執行役員<br>上場準備室 兼<br>サステナビリティ委員会",
               name: "稲月 伸仁"
           },
       ],
       group5: [
            {
                class: "color-coolGrey",
                label: "ジザイめっけ",
                title: "ホテル/リネン/客室清掃",
                kv: "article121021_prof_sm-10.png",
                content: "XY 常務執行役員<br>ジザイめっけ<br>代表取締役社長",
                name: "有地 英之",
            },
            {
                class: "color-independence",
                bubbleClass: "karitRight color-independence",
                bubbleContent: "<span class='label'>事業<small>の</small>いま</span><span class='year'>2021</span><span class='label24'>特集TOPに戻る</span>",
                //- bubbleAds: "事業の",
                bubbleSmKv01: "article121021_icon_dotLeft-burlywood.png",
                bubbleSmKv02: "article121021_icon_exClamRight-silverlakeblue.png",
            }
       ]
   },
 ]


doctype html
html(lang="en")
    include ../_inc/_head.pug
    body
        .secSingle(class=`${myClass}`)
            .secSingle__content(class=`${myClassPart}`)
                article.specialFeatures122021__wrapper
                    .specialFeatures122021__inner
                        .specialFeatures122021__innerBorder
                            .specialFeatures122021__chart
                                .specialFeatures122021__chartLabel=chart[0].main
                                .specialFeatures122021__chartWrapper
                                    //- Row 1
                                    .specialFeatures122021__cards.row1.col3
                                        each card1 in chart[0].group1
                                            .specialFeatures122021__cardsItem(class=card1.class)
                                                .specialFeatures122021__cardsHeader
                                                    .specialFeatures122021__cardsHeaderLabel
                                                        p.specialFeatures122021__cardsHeaderLabelText!=card1.label
                                                    p.specialFeatures122021__cardsHeaderTitle!=card1.title
                                                .specialFeatures122021__cardsBody
                                                    .specialFeatures122021__cardsBodyKv
                                                        img(src=`${localPath}${card1.kv}`, alt="")
                                                    .specialFeatures122021__cardsBodyData
                                                        p.specialFeatures122021__cardsBodyDataText!=card1.content
                                                        p.specialFeatures122021__cardsBodyDataName=card1.name
                                    //- Row 2
                                    .specialFeatures122021__cards.row2.col3
                                        each card2 in chart[0].group2
                                            .specialFeatures122021__cardsItem(class=card2.class)
                                                .specialFeatures122021__cardsHeader
                                                    .specialFeatures122021__cardsHeaderLabel
                                                        p.specialFeatures122021__cardsHeaderLabelText!=card2.label
                                                    p.specialFeatures122021__cardsHeaderTitle!=card2.title
                                                .specialFeatures122021__cardsBody
                                                    .specialFeatures122021__cardsBodyKv
                                                        img(src=`${localPath}${card2.kv}`, alt="")
                                                    .specialFeatures122021__cardsBodyData
                                                        p.specialFeatures122021__cardsBodyDataText!=card2.content
                                                        p.specialFeatures122021__cardsBodyDataName=card2.name
                                    //- Row 3
                                    .specialFeatures122021__cards.row3.col2
                                        each card3 in chart[0].group3
                                            .specialFeatures122021__cardsItem(class=card3.class)
                                                .specialFeatures122021__cardsHeader
                                                    .specialFeatures122021__cardsHeaderLabel
                                                        p.specialFeatures122021__cardsHeaderLabelText!=card3.label
                                                    p.specialFeatures122021__cardsHeaderTitle!=card3.title
                                                .specialFeatures122021__cardsBody
                                                    .specialFeatures122021__cardsBodyKv
                                                        img(src=`${localPath}${card3.kv}`, alt="")
                                                    .specialFeatures122021__cardsBodyData
                                                        p.specialFeatures122021__cardsBodyDataText!=card3.content
                                                        p.specialFeatures122021__cardsBodyDataName=card3.name
                                    //- Row 4
                                    .specialFeatures122021__cards.row4.col2
                                        each card4 in chart[0].group4
                                            .specialFeatures122021__cardsItem(class=card4.class)
                                                .specialFeatures122021__cardsHeader
                                                    if(card4.labelGroup)
                                                        each label in card4.labelGroup
                                                            .specialFeatures122021__cardsHeaderLabel
                                                                p.specialFeatures122021__cardsHeaderLabelText!=label.item
                                                    else
                                                        .specialFeatures122021__cardsHeaderLabel
                                                            p.specialFeatures122021__cardsHeaderLabelText!=card4.label
                                                    if(card4.title)
                                                        p.specialFeatures122021__cardsHeaderTitle!=card4.title
                                                if(card4.twin)
                                                    each item in card4.twin
                                                        .specialFeatures122021__cardsBody
                                                            .specialFeatures122021__cardsBodyKv
                                                                img(src=`${localPath}${item.kv}`, alt="")
                                                            .specialFeatures122021__cardsBodyData
                                                                p.specialFeatures122021__cardsBodyDataText!=item.content
                                                                p.specialFeatures122021__cardsBodyDataName=item.name
                                                else
                                                    .specialFeatures122021__cardsBody
                                                        .specialFeatures122021__cardsBodyKv
                                                            img(src=`${localPath}${card4.kv}`, alt="")
                                                        .specialFeatures122021__cardsBodyData
                                                            p.specialFeatures122021__cardsBodyDataText!=card4.content
                                                            p.specialFeatures122021__cardsBodyDataName=card4.name
                                    //- Row 5
                                    .specialFeatures122021__cards.row5.col2
                                        each card5 in chart[0].group5
                                            .specialFeatures122021__cardsItem(class=card5.class)
                                                .specialFeatures122021__cardsHeader
                                                    if(card5.label)
                                                        .specialFeatures122021__cardsHeaderLabel
                                                            .specialFeatures122021__cardsHeaderLabelText=card5.label
                                                        .specialFeatures122021__cardsBody
                                                            .specialFeatures122021__cardsBodyKv
                                                                img(src=`${localPath}${card5.kv}`, alt="")
                                                            .specialFeatures122021__cardsBodyData
                                                                p.specialFeatures122021__cardsBodyDataText!=card5.content
                                                                p.specialFeatures122021__cardsBodyDataName=card5.name
                                                if(card5.bubbleClass)
                                                    .specialFeatures122021__cardsBubble
                                                        .specialFeatures122021__cardsBubbleContent!=card5.bubbleContent
                                                        figure.specialFeatures122021__cardsBubbleSm
                                                            img(src=`${localPath}${card5.bubbleSmKv01}`, alt="")
                                                        figure.specialFeatures122021__cardsBubbleSm
                                                            img(src=`${localPath}${card5.bubbleSmKv02}`, alt="")